@charset "UTF-8";
/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout SpineCSS
are based on 10px sizing. So basically 1.6rem = 16px :) */
html {
  font-size: 62.5%;
  cursor: default;
}

body {
  font-size: 1.6rem;
  /* ensures that the default font size for the content is 16 pixels, which is a common and readable size for body text.*/
  line-height: var(--line-height-body);
  font-weight: 400;
  font-family: "Outfit", "Varela Round", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--base-text-color);
}

h1, h2, h3, h4 {
  font-family: "Varela Round";
  font-weight: 300;
}

h5, h6 {
  font-family: "Varela Round";
  font-weight: 200;
}

[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled=true],
[disabled] {
  cursor: default;
}

[aria-hidden=false][hidden] {
  display: initial;
}

[aria-hidden=false][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

/* Reset
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: inherit;
  vertical-align: inherit;
  background-repeat: no-repeat;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block: 0;
  margin-inline: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: var(--line-height-body);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

svg:not([fill]) {
  fill: currentColor;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*
* SpineCSS V0.0.01
* Copyright 2023, Musa Blackfrost
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*/
:root {
  /* font-size*/
  --step--2: clamp(0.64rem, calc(0.52rem + 0.58vw), 0.96rem);
  --step--1: clamp(0.80rem, calc(0.65rem + 0.73vw), 1.20rem);
  --step-0: clamp(1.00rem, calc(0.82rem + 0.91vw), 1.50rem);
  --step-1: clamp(1.25rem, calc(1.02rem + 1.14vw), 1.88rem);
  --step-2: clamp(1.56rem, calc(1.28rem + 1.42vw), 2.34rem);
  --step-3: clamp(1.95rem, calc(1.60rem + 1.78vw), 2.93rem);
  --step-4: clamp(2.44rem, calc(2.00rem + 2.22vw), 3.66rem);
  --step-5: clamp(3.05rem, calc(2.50rem + 2.77vw), 4.58rem);
  --step-6: clamp(3.82rem, calc(3.12rem + 3.47vw), 5.72rem);
  --step-7: clamp(4.77rem, calc(3.90rem + 4.34vw), 7.15rem);
  --step-8: clamp(5.96rem, calc(4.88rem + 5.42vw), 8.94rem);
  --step-9: clamp(7.45rem, calc(6.10rem + 6.77vw), 11.18rem);
  --step-10: clamp(9.31rem, calc(7.62rem + 8.47vw), 13.97rem);
  --base-text-color: #222;
  /* button & input colors */
  --button-bg: #33c3f0;
  --button-text-color: #fff;
  --button-border: #bbb;
  --button-primary-border: var(--button-bg);
  --button-border-focus:#888;
  --button-text-focus:#333;
  --input-accent-color: var(--button-bg);
  --input-button-focus: #1EAEDB;
  --input-txt-color: #555;
  --select-bg: var(--button-text-color, #858698);
  --select-focus-border-color: var(--button-bg);
  --select-txtarea-border: #d1d1d1;
  --code-bg: #f1f1f1;
  --code-table-border: #e1e1e1;
  --link-hov-color: #0fa0ce;
  --line-height-body: 1.5;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 0 2rem;
  font-weight: 300;
}

h1 {
  font-size: var(--step-7);
  line-height: calc(var(--line-height-body -3));
  letter-spacing: -0.1rem;
}

h2 {
  font-size: var(--step-6);
  line-height: calc(var(--line-height-body-0.25));
  letter-spacing: -0.1rem;
}

h3 {
  font-size: var(--step-5);
  line-height: calc(var(--line-height-body-0.2));
  letter-spacing: -0.1rem;
}

h4 {
  font-size: var(--step-4);
  line-height: calc(var(--line-height-body-0.15));
  letter-spacing: -0.08rem;
  color: #D7CBCB;
}

h5 {
  font-size: var(--step-4);
  line-height: var(--line-height-body);
  letter-spacing: -0.05rem;
}

h6 {
  font-size: var(--step-3);
  line-height: calc(var(--line-height-body0.1));
  letter-spacing: 0;
}

a, li {
  font-size: var(--step-2);
}

p, span, div, section, article, aside, main, header {
  font-size: var(--step-2);
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

[placeholder] {
  font: inherit;
}

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-block-end: 1rem;
}

input,
textarea,
select,
fieldset {
  margin-block-end: 1.5rem;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-block-end: 2.5rem;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: var(--primary-color);
}

a:any-link {
  color: #0FA0CE;
}

/* a {}

a:visited {}

a:hover {} */
/* List
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
}

ol,
ul {
  /* padding-left: 0; */
  padding-inline-start: 0;
  /* margin-top: 0; */
  margin-block-start: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-block: 1.5rem;
  margin-inline: 3rem 0;
  font-size: 90%;
}

li {
  margin-block-end: 1rem;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/
/* @media (prefers-reduced-motion: reduce) {
} done in reset */
/* Larger than mobile */
/* Larger than phablet (also point when grid becomes active) */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
.container {
  position: relative;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--container-inline-padding);
  box-sizing: border-box;
}

/* Buttons and input
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type=submit],
input[type=reset],
input[type=button] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: var(--input-txt-color);
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--button-border);
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover,
button:hover,
input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover,
.button:focus,
button:focus,
input[type=submit]:focus,
input[type=reset]:focus,
input[type=button]:focus {
  color: var(--button-text-focus);
  border-color: var(--button-border-focus);
  outline: 0;
}

.button.button-primary,
button.button-primary,
input[type=submit].button-primary,
input[type=reset].button-primary,
input[type=button].button-primary {
  color: var(--button-text-color);
  background-color: var(--button-bg);
  border-color: var(--button-primary);
}

.button.button-primary:hover,
button.button-primary:hover,
input[type=submit].button-primary:hover,
input[type=reset].button-primary:hover,
input[type=button].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type=submit].button-primary:focus,
input[type=reset].button-primary:focus,
input[type=button].button-primary:focus {
  color: var(--button-text-color);
  background-color: var(--input-button-focus);
  border-color: var(--input-button-focus);
}

input {
  accent-color: var(--input-accent-color);
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type=email],
input[type=number],
input[type=search],
input[type=text],
input[type=tel],
input[type=url],
input[type=password],
textarea,
select {
  height: 1.8em;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: var(--select-bg);
  border: 1px solid var(--select-txtarea-border);
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

/* Removes awkward default styles on some inputs for iOS */
input[type=email],
input[type=number],
input[type=search],
input[type=text],
input[type=tel],
input[type=url],
input[type=password],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type=email]:focus,
input[type=number]:focus,
input[type=search]:focus,
input[type=text]:focus,
input[type=tel]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus,
select:focus {
  border: 1px solid var(--select-focus-border-color);
  outline: 0;
}

label,
legend {
  display: block;
  /* margin-bottom: .5rem; */
  margin-block-end: 0.5rem;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type=checkbox],
input[type=radio] {
  display: inline;
}

label > .label-body {
  display: inline-block;
  /* margin-left: .5rem; */
  margin-inline-start: 0.5rem;
  font-weight: normal;
}

/* - individual styling */
/* Tick boxes */
/* Other input fields, some with limited styling capabilities */
/* This matches forms or form elements that are invalid *and* have been
interacted with. Note that:
1) You may need to add the `interacted` class to forms yourself
2) You may need to add the `touched` class to form fields yourself
3) `:user-invalid` is a working draft and not yet supported by most browsers
4) `:-moz-ui-invalid` is non-standard and only works in Firefox
Form validation error messages will appear (in capable browsers) regardless of
this styling. You can omit 1) and 2) and still have working forms. Perfect
example of progressive enhancement. */
/* Applies to invalid forms */
/* Applies to invalid form fields. You would need to repeat your declarations
for the following three groups of selectors individually. Browsers completely
ignore any rule that contains a selector they do not know. */
nav ol, nav ul {
  list-style: none;
  padding: 0;
}

/*Interactive elements
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* Some form fields, `details`, elements with `tabindex`, and possibly other
elements can be focussed. You should use `:focus-visible` instead of `:focus`
whenever possible. As the former is not yet widely supported, you need to do it
as follows:
1) Set styling on focus
2) If browser supports `:focus-visible`, revert/unset the styling from 1)
3) If the element matches `:focus-visible`, apply the styling again */
/* Table
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid var(--code-table-border);
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: 0.2rem 0.5rem;
  margin-block: 0;
  margin-inline: 0.2rem;
  white-space: nowrap;
  background: var(--code-bg);
  border: 1px solid var(--code-table-border);
  border-radius: 4px;
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  html {
    --base-text-color: rgb(0,0,0);
    --background-color: #eeeeee;
    --background-card-color: #ffffff;
    --background-success-color: #85DA85;
    --background-toggle-inactive-color: rgba(var(--base-text-color), 0);
    --background-toggle-active-color: rgba(var(--base-text-color), 0.08);
    --foreground-color: rgba(var(--base-text-color), 0.87);
    --foreground-success-color: #42445A;
    --foreground-secondary-color: rgba(var(--base-text-color), 0.56);
    --focus-color: rgba(var(--base-text-color), 0.5);
  }
  html.dark {
    --base-text-color: rgb(255,255,255);
    --background-color: #212121;
    --background-card-color: #363636;
    --background-success-color: #008000;
    --background-toggle-inactive-color: rgba(var(--base-text-color), 0);
    --background-toggle-active-color: rgba(var(--base-text-color), 0.1);
    --foreground-color: rgba(var(--base-text-color), 0.87);
    --foreground-success-color: #ffffff;
    --foreground-secondary-color: rgba(var(--base-text-color), 0.56);
    --focus-color: rgba(var(--base-text-color), 0.5);
  }
}
@media (prefers-color-scheme: dark) {
  html {
    --base-text-color: rgb(255,255,255);
    --background-color: #212121;
    --background-card-color: #363636;
    --background-success-color: #008000;
    --background-toggle-inactive-color: rgba(var(--base-text-color), 0);
    --background-toggle-active-color: rgba(var(--base-text-color), 0.1);
    --foreground-color: rgba(var(--base-text-color), 0.87);
    --foreground-success-color: #ffffff;
    --foreground-secondary-color: rgba(var(--base-text-color), 0.56);
    --focus-color: rgba(var(--base-text-color), 0.5);
  }
  html.light {
    --base-text-color: rgb(0,0,0);
    --background-color: #eeeeee;
    --background-card-color: #ffffff;
    --background-success-color: #85DA85;
    --background-toggle-inactive-color: rgba(var(--base-text-color), 0);
    --background-toggle-active-color: rgba(var(--base-text-color), 0.08);
    --foreground-color: rgba(var(--base-text-color), 0.87);
    --foreground-success-color: #42445A;
    --foreground-secondary-color: rgba(var(--base-text-color), 0.56);
    --focus-color: rgba(var(--base-text-color), 0.5);
  }
}
