


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.6rem = 16px :) */


html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  /* ensures that the default font size for the content is 16 pixels, which is a common and readable size for body text.*/
  line-height: 1.5;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}