/* List
–––––––––––––––––––––––––––––––––––––––––––––––––– */

ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
}

ol,
ul {
  /* padding-left: 0; */
  padding-inline-start: 0;
  /* margin-top: 0; */
  margin-block-start: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  /* margin: 1.5rem 0 1.5rem 3rem; */
  margin-block: 1.5rem;
  margin-inline: 3rem 0;
  font-size: 90%;
}

li {
  margin-bottom: 1rem;
}