/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

button,
.button {
  margin-block-end: 1rem;
}

input,
textarea,
select,
fieldset {
  margin-block-end: 1.5rem;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-block-end: 2.5rem;
}