/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

h1 {
  font-size: 4.0rem;
  line-height: calc(var(--line-height-body -3));
  letter-spacing: -.1rem;
}

h2 {
  font-size: 3.6rem;
  line-height: calc(var(--line-height-body - 0.25));
  letter-spacing: -.1rem;
}

h3 {
  font-size: 3.0rem;
  line-height: calc(var(--line-height-body - 0.2));
  letter-spacing: -.1rem;
}

h4 {
  font-size: 2.4rem;
  line-height: calc(var(--line-height-body - 0.15));
  letter-spacing: -.08rem;
}

h5 {
  font-size: 1.8rem;
  line-height: var(--line-height-body);
  letter-spacing: -.05rem;
}

h6 {
  font-size: 1.5rem;
  line-height: calc(var(--line-height-body + 0.1));
  letter-spacing: 0;
}
