/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */


code {
  padding: 0.2rem 0.5rem;
  margin-block: 0;
  margin-inline: 0.2rem;
  white-space: nowrap;
  background: var(--code-bg);
  border: 1px solid var(--code-table-border);
  border-radius: 4px;
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}
